<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h2>Mensajes:</h2>
                <input type="email" id="email" placeholder="Ingresar tu email" class="form-control">
                <hr>
                <div id="div-chat">
                    {{#each chat }}
                        <span class="badge bg-dark">{{ this.email }} [ {{this.fecha}} ]:</span> {{ this.msg }}
                        <br>
                    {{/each }}
                </div>
                <hr>
                <textarea id="msg" rows="4" class="form-control" placeholder="Ingresar el mensaje"></textarea>
                <button type="button" class="btn btn-outline-success btn- mt-2 btn-sm me-2" onclick="sendMsg()">Enviar mensaje</button>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="http://localhost:8000/socket.io/socket.io.js"></script>
<script>    
    var socket = io.connect();
    socket.on('new-msg', data => {
        let div_chat = document.getElementById('div-chat');
        div_chat.innerHTML += `<span class="badge badge-primary">${ data.email } [ ${data.fecha} ]:</span> ${ data.msg }<br>`;
    });
    async function sendMsg(){
        if(document.getElementById('email').value != '' && document.getElementById('msg').value != ''){
            const respose = await fetch('/api/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: document.getElementById('email').value,
                    msg: document.getElementById('msg').value,
                })
            });
            document.getElementById('msg').value = '';
        }
    }
</script>